@import url(../components/templates/header-component/header.css);
@import url(../components/templates/footer-component/footer-style.css);

@font-face {
    font-family: 'Raleway';
    src: url(../components/font-family/Raleway-VariableFont_wght.ttf);
    font-weight: 400;
}


*{
    margin:0;
    font-family: "Raleway", sans-serif;
}

.overflow{
    overflow: hidden;
}

img{
    border-radius: 8px;
}

.main {
    display:flex;
    flex-direction: column;
}

/* headline section*/
.headline {
    display: flex;
    margin-top: 100px;
    margin-right: clamp(8px, 12vw, 160px);
    margin-bottom:  clamp(10px, 26vw, 160px);
    max-height: 360px;
    margin-left: clamp(8px, 15vw, 160px);
    max-width: 1670px;
    align-self: center;
}


.headlineh1 {
    font-size: clamp(16px, 5vw, 36px);
}

.haedlimg {
    
    margin-right: clamp(4px, 8vw, 40px);
    align-self: center;
    width: clamp(200px, 60vw, 400px);
    aspect-ratio: 16 / 9;
    
    
 
}

.headlinetext{
    flex:1;
    font-size: clamp(8px, 5vw, 24px);
    margin-bottom: clamp(24px, 5vw, 80px);
    margin-top: clamp(8px, 3vw, 40px);
    
    
}

.headlinebutton{
    background-color: #008000;
    color: white;
    border: none;
    width: clamp(80px, 45vw, 240px);
    height: 48px;
    font-size: 16px;
    margin-bottom: 8px;
}

.headlinebutton:hover {
    background-color: #009200;

}
/* new section */
.recipeoverview{
    background-color: #EFEFEF;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    padding-bottom: 80px;
    padding-left: clamp(8px, 40vw, 160px);
    padding-right:clamp(8px, 40vw, 160px);

}
.recipeoverviewh {
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: clamp(24, 2vw, 32px);
}

.recipeoverviewr {
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: 100%;
    max-width: 1670px;
    align-self: center;
    
}
.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-self: center;
}

.recipeimg {
    height: clamp(150px, 25vw, 200px);
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.recipelink {
    text-decoration: none;
    color:#008000;
    font-size: 24px;
    font-weight: bold;

    
}
/* New section (Bottomsection) */
.bottom {
    margin-left: clamp(8px, 40vw, 160px);
    margin-right: clamp(8px, 40vw, 160px);
    display: flex;
    flex-direction: column;
}
.bottommain {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 1670px;
    align-self: center;
}

.bottomh3 {
    font-size: 24px;
    margin-bottom: 40px;
}

.bottomtext {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex: 1;
}

.bottomleft {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.bottomh4{
    margin-bottom: 16px;
    text-decoration: underline;
}

.bottomlist {
    display:flex;
}

.lists {
    display:flex;
    justify-content: space-evenly;
    flex-grow: 1;
}
.listleft {
    margin-bottom: 16px;
 
    
}

.seperator {
    width: 2px;
    background-color: #EFEFEF;
    margin-top: 16px;
    margin-bottom: 32px;
}

.listright {
    justify-self: flex-end;
}

.imgbottom {
    height: 200px;
    aspect-ratio: 1 / 1;
}

@media (max-width: 950px){
    .headline{
        flex-direction: column;
    }
    
    h1{
        margin-top: 32px;;
    }

    .recipeoverviewr{
        flex-direction: column;
    }
}

@media (max-width:875px){
    .bottomtext{
        flex-direction: column-reverse;
    }
    .imgbottom{
        width: 200px;
        height: 200px;
        align-self: center;
    }
}

@media (max-width: 800px){
   
    .headline{
    margin-top: clamp(8px, 2vw, 100px);
    margin-bottom: clamp(8px, 26vw, 100px);
    margin-right: 8px;
    margin-left: 8px;
}
    .headlineh1{
        margin-top: clamp(8px, 2vw, 32px);
    }
    .headlinetext{
        margin-top: clamp(8px, 2vw, 18px);
        margin-bottom: clamp(8px, 2vw, 24px )
    }
    .rightheadline{
        margin-left: 32px;
    }
}


@media (max-width:600px) {

    .seperator{
        display:none;
    }
    .lists{
        flex-direction: column;
    }
    .bottomlist{
        align-self: center;
    }
}

@media (max-width: 400px){
    .main{
        margin-left: 20px;
        margin-right: 20px;
    }
    .rightheadline
    {
        margin-left: 0px;
    }
}