* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1990px;
    padding-left: 160px;
    padding-right: 160px;
    box-sizing: border-box;
    margin: 0 auto;
}

footer {
    background-color: #403b3b;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-left: 160px;
    padding-right: 160px;
    align-items: center;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1990px;
    width: 100%;
    box-sizing: border-box;
}

.footer-logo {
    width: 80px;
    height: auto;
    padding-top: 34px;
}

.footer-nav {
    display: flex;
    gap: 20px;
    padding-top: 34px;
}

.footer-nav a {
    text-decoration: none;
    color: white;
}

.footer-nav a:hover {
    text-decoration: underline;
    text-decoration-color: #008000;
    text-decoration-thickness: 2px;
    color: white;
}

.footer-nav h3 {
    color: white;
}

.social-media {
    padding-top: 34px;
}

svg:hover path {
    fill: #008000;
    transition: all ease 0.3s;
}

.signature-line {
    color: white;
    text-align: center;
    font-size: 12px;
    max-width: 1990px;
    margin: 0 auto;
}